@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.InternalSharePattern)]

<PageTitle>📰 - datotekica</PageTitle>

@if (_unauthorized)
{
    <RedirectTo Url=@C.Routes.Forbidden Force />
}
else if (_notFound)
{
    <RedirectTo Url=@C.Routes.InternalShare />
}
else if (!_shares.Any())
{
    <h1>Nothing is shared with you.</h1>
}
else if (_root == null)
{
    <div class="row my-4">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="list-group">
                @foreach (var share in _shares)
                {
                    <div @key=share.Key class="list-group-item list-group-item-action d-flex align-items-center p-0">
                        <div class="flex-shrink-0 p-2"><i class="bi bi-folder-symlink-fill"></i></div>
                        <a class="flex-grow-1 py-2 text-truncate text-decoration-none text-white" title=@share.Value.Name
                    href=@share.Value.Url>@share.Value.Name</a>
                        <div class="text-right d-none d-sm-block p-2" title=@share.Value.Modified>@share.Value.ModifiedAgo</div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else if (_current != null && _current.Exists)
{
    <div class="row my-4">
    <div class="col-md-3 mb-3">
                <Actions BasePath=@_current.FullName Selected=_selected OnSuccessFiles=AddUploadedFiles CanWrite=HasWrite()
                    OnSuccessDirectory=AddDirectory OnDeleted=EnumerateCurrentDirectory OnDeselect=StateHasChanged />
        </div>
    <div class="col-md-9">
        <Breadcrumbs />
        <div class="list-group">
                <div class="list-group-item list-group-item-secondary d-flex align-items-center p-0">
                    <div class="flex-shrink-0 p-2"><i class="bi bi-arrow-left-circle-fill"></i></div>
                    <a class="flex-grow-1 py-2 text-decoration-none text-white" href=@_parentPath> .. </a>
                    <div class="text-right d-none d-sm-block p-2"></div>
                </div>
                @foreach (var dir in _dirs)
                {
                    <div class="list-group-item list-group-item-action d-flex align-items-center p-0">
                        <div class="flex-shrink-0 p-2 pointer" title="Toggle selected" @onclick=@(()=>ToggleSelected(dir.Path, true))><i
                        class=@IsSelected(dir.Path, true)></i></div>
                        <a class="flex-grow-1 py-2 text-truncate text-decoration-none text-white" title=@dir.Name
                    href=@dir.Url>@dir.Name</a>
                        <div class="text-right d-none d-sm-block p-2" title=@dir.Modified>@dir.ModifiedAgo</div>
                    </div>
                }
                @foreach (var file in _files)
                {
                    <div class="list-group-item list-group-item-action d-flex align-items-center p-0">
                        <div class="flex-shrink-0 p-2 pointer" title="Toggle selected" @onclick=@(()=>ToggleSelected(file.Path, false))><i
                        class=@IsSelected(file.Path, false)></i></div>
                        <div class="flex-grow-1 py-2 text-truncate text-decoration-none text-white pointer" title=@file.Name
                    @onclick=@(()=>DownloadFile(file.Path))>@file.Name</div>
                        <div class="text-right d-none d-sm-block p-2" title=@file.Modified>@file.ModifiedAgo</div>
                    </div>
                }
            </div>
        </div>
    </div>
}